{% extends 'ovros_dashboard/admin_dashboard/admin_dashboard_users.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Register User
{% endblock %}

{% block dashboard_content %}
        <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <h1>Create User Account </h1>
                <form method="post">
                    {{ user_form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Creat User Account">
                    {% csrf_token %}
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}