{% extends 'ovros_dashboard/user_dashboard/user_dashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {% load static %}
    User-profile
{% endblock %}

{% block content %}
    {#    <h1>profile id : {{ profile_data.get_user_id }} </h1>#}
    {#    <h1>profile id : {{ profile_data.get_profile_id }} </h1>#}
    {#    <h1>profile id : {{ profile_data.get_profile_role }} </h1>#}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4"></div>
            <div class="col-12 col-md-6 col-lg-4">
                <h3 class="my-2">Edit Profile Details</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                    <input type="submit" value="Edit Details" class="btn btn-primary">
                    <a class="btn btn-danger" href="{% url 'user_profile' %}">Cancel</a>
                </form>

            </div>
            <div class="col-12 col-md-6 col-lg-4"></div>
        </div>
    </div>

{% endblock %}