{% extends 'ovros_dashboard/user_dashboard/user_dashboard_payment.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {% load static %}
    User-Payment-View
{% endblock %}


{% block dashboard_content %}

    <div class="container text-center">
        <div class="row my-5">
            <h3>User Dashboard View Payments</h3>
        </div>
        <div class="row">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-2"></div>
                    <div class="col-12 col-md-6 col-lg-8">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Booking id</th>
                                <th scope="col">User Contact</th>
                                <th scope="col">Service Name</th>
                                <th scope="col">Vehicle</th>
                                <th scope="col">Payment Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for shop_booking in user_bookings %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ shop_booking.id }}</td>
                                    <td>{{ shop_booking.user.contact_number }}</td>
                                    <td>{{ shop_booking.service.service_name }}</td>

                                    <td>{{ shop_booking.vehicle }}</td>
                                    <td>
                                        {% if shop_booking.payment_status == "PAYMENT_PENDING" %}
                                            <span class="badge rounded-pill text-bg-warning">
                            {{ shop_booking.payment_status }}
                        </span>
                                        {% endif %}
                                        {% if shop_booking.payment_status == "PAYMENT_PROCESSING" %}
                                            <span class="badge rounded-pill text-bg-info">
                            {{ shop_booking.payment_status }}
                        </span>
                                        {% endif %}
                                        {% if shop_booking.payment_status == "PAYMENT_COMPLETED" %}
                                            <span class="badge rounded-pill text-bg-success">
                            {{ shop_booking.payment_status }}
                        </span>
                                        {% endif %}

                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#id_py_user{{ forloop.counter }}">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" id="id_py_user{{ forloop.counter }}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Booking Details</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card">
                                                    <div class="card-header">
                                                        Service Details
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="list-group">
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item"><strong>Booking id : </strong>
                                                                    {{ shop_booking.id }}
                                                                </li>
                                                                <li class="list-group-item"><strong>Shop</strong>
                                                                    : {{ shop_booking.service.shop.shop_name }}
                                                                    | {{ shop_booking.service.service_name }}</li>
                                                                <li class="list-group-item"><strong>Price</strong>
                                                                    :
                                                                     <span class="badge rounded-pill text-bg-info">
                                                                    <span>Rs.</span>{{ shop_booking.service.service_price }}
                                                                     </span>
                                                                </li>
                                                                <li class="list-group-item"><strong>Date and
                                                                    Time</strong>
                                                                    : {{ shop_booking.booking_date }}
                                                                    | {{ shop_booking.booking_time }}</li>
                                                                <li class="list-group-item">
                                                                    <form method="post"
                                                                          id="form_id_py_st_user{{ forloop.counter }}">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="booking_id"
                                                                               value="{{ shop_booking.id }}">
                                                                        {{ action_form| crispy }}
                                                                    </form>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-header">
                                                        Service shop Payment Details
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="list-group">
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item"><strong>Bank Name</strong>
                                                                    : {{ shop_booking.service.shop.shoppaymentdetail.bank_name }}
                                                                </li>
                                                                <li class="list-group-item"><strong>Account
                                                                    Number</strong>
                                                                    : {{ shop_booking.service.shop.shoppaymentdetail.account_no }}
                                                                </li>

                                                                <li class="list-group-item"><strong>Branch name</strong>
                                                                    :
                                                                    {{ shop_booking.service.shop.shoppaymentdetail.bank_branch }}
                                                                </li>

                                                                <li class="list-group-item">
                                                                    <form method="post""
                                                                          id="form_id_py_st_user{{ forloop.counter }}">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="booking_id"
                                                                               value="{{ shop_booking.id }}">
                                                                        {{ action_form| crispy }}
                                                                    </form>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        To proceed payment you have to pay the above-mentioned fee through mobile app or bank and upload the slip.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="button" class="btn btn-success"
                                                        onclick="update_booking_payment_status({{ forloop.counter }})">
                                                    Proceed Payment
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2"></div>
                </div>
            </div>

            <script>
                function update_booking_payment_status(form_id) {
                    let form = document.getElementById('form_id_py_st_user' + form_id);
                    form.submit();
                }
            </script>

            <div class="col"></div>
        </div>
    </div>
{% endblock %}