{% extends 'ovros_dashboard/user_dashboard/user_dashboard.html' %}
{% load static %}
{% block title %}
User Dashboard Overview
{% endblock %}

{% block nav_booking_active %}
active
{% endblock %}

{% block dashboard_content %}
             <header>
            <div class="container-fluid">
              <div class="border-bottom pt-6 pb-6">
                <div class="row align-items-center">
                  <div class="col-sm col-12">
                    <h1 class="h2 ls-tight">Service Bookings</h1>
                  </div>
                  <div class="col-sm-auto col-12 mt-4 mt-sm-0 me-5">
                    <div class="hstack gap-2 justify-content-sm-end">
                      <a
                        href="{% url 'services' %}"
                        class="btn btn-sm btn-primary"
                        data-bs-toggle="offcanvas"
                        ><span class="pe-2"
                          ><i class="bi bi-plus-square-dotted"></i> </span
                        ><span>Add Booking</span></a
                      >
                      <a
                        href="{% url 'view_booking' %}"
                        class="btn btn-sm btn-primary"
                        ><span class="pe-2"
                          ><i class="bi bi-plus-square-dotted"></i> </span
                        ><span>View Booking</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="container-fluid">
            <div class="row g-6 mb-6 mt-1">
              <div class="col-xl-6">
                <div class="card h-full">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-center">
                      <h5 class="mb-0">Booking Status</h5>
                    </div>
                    <div class="list-group gap-4">
                      <div
                        class="list-group-item d-flex align-items-center border rounded"
                      >
                        <div class="me-4">
                          <div class="avatar rounded-circle">
                            <div
                              class="icon icon-shape bg-success text-white text-lg rounded-circle"
                            >
                              <h5>{{ approved_count }}</h5>
                            </div>
                          </div>
                        </div>
                        <div class="flex-fill">
                          <div class="mt-2 mb-0 text-sm">
                            <span
                              class="badge badge-pill bg-soft-success text-success me-2"
                              ><i class="bi bi-arrow-up me-1"></i>Approved
                              Bookings</span
                            >
                          </div>
                        </div>
                      </div>
                      <div
                        class="list-group-item d-flex align-items-center border rounded"
                      >
                        <div class="me-4">
                          <div class="avatar rounded-circle">
                            <div
                              class="icon icon-shape bg-warning text-white text-lg rounded-circle"
                            >
                              <h5>{{ pending_count }}</h5>
                            </div>
                          </div>
                        </div>
                        <div class="flex-fill">
                          <div class="mt-2 mb-0 text-sm">
                            <span
                              class="badge badge-pill bg-soft-warning text-warning me-2"
                              ><i class="bi bi-arrow-up me-1"></i>Pending
                              Bookings</span
                            >
                          </div>
                        </div>
                      </div>
                      <div
                        class="list-group-item d-flex align-items-center border rounded"
                      >
                        <div class="me-4">
                          <div class="avatar rounded-circle">
                            <div
                              class="icon icon-shape bg-danger text-white text-lg rounded-circle"
                            >
                              <h5>{{ canceled_count }}</h5>
                            </div>
                          </div>
                        </div>
                        <div class="flex-fill">
                          <div class="mt-2 mb-0 text-sm">
                            <span
                              class="badge badge-pill bg-soft-danger text-danger me-2"
                              ><i class="bi bi-arrow-up me-1"></i>Canceled
                              Bookings</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <span
                          class="h6 font-semibold text-muted text-sm d-block mb-2"
                          >Bookings</span
                        >
                        <span class="h3 font-bold mb-0">{{ bookings.count }}</span>
                      </div>
                      <div class="col-auto">
                        <div
                          class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
                        >
                          <i class="bi bi-credit-card"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card shadow-4-hover">
                  <div class="p-2">
                    <a href="#" class="d-block"
                      ><img
                        class="img-fluid rounded-2"
                        alt="..."
                        src="{% static 'dashboard/img/media/img-800x800-1.jpg' %}"
                    /></a>
                  </div>

                </div>
              </div>
            </div>
          </div>

{% endblock %}