{% extends 'ovros_dashboard/user_dashboard/user_dashboard.html' %}
{% block title %}
    {% load static %}
    User-profile
{% endblock %}

{% block support_navbar_content %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'user_overview' %}"><i
                            class="bi bi-arrow-left"></i> Back</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center">
                <div class="card">
                    <div class="text-center mt-3">

                            <img src="{% static 'images/shopprofile_default.jpg' %}" class="card-img-top">

                    </div>

                    <div class="card-body">
                        <div class="list-group">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h4><strong>{{ profile_d.first_name }}</strong></h4>

                                </li>
                                <li class="list-group-item">
                                    <strong>Email :</strong><br>
                                    {{ profile_d.email }}</li>
                                <li class="list-group-item"><strong>Contact : </strong>{{ profile.contact_number }}</li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="{% url 'user_profile_edit' %}">Edit Details &raquo;</a>
                        <a class="btn btn-success" href="{% url 'password_change' %}">Change password &raquo;</a>
                    </div>
                </div>


            </div>
            <div class="col-lg-4"></div>
        </div>

    </div>





{% endblock %}