{% extends 'ovros_dashboard/user_dashboard/user_dashboard.html' %}
{% block title %}
    {% load static %}
    User-Bookings
{% endblock %}

{% block support_navbar_content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'user_bookings' %}">User Dashboard Bookings >> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'services' %}"><span
                                class="badge rounded-pill text-bg-primary">Add Booking</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'view_booking' %}"><span
                                class="badge rounded-pill text-bg-primary">View Booking</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block dashboard_content %}

    <div class="container text-center">
        <div class="row my-5">
            <h3>User Dashboard Bookings</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-1"></div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card" style="border: white">
                    <img src="{% static 'images/booking_v2.jpg' %}" alt="booking image" class="card-img-top">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        ovros-user-bookings
                    </div>
                    <div class="card-body">
                        <p class="fs-1 fw-bold">{{ bookings.count }}</p>

                    </div>
                    <div class="card-footer">
                        <p><span class="badge rounded-pill text-bg-warning">Pending : {{ pending_count }} </span></p>
                        <p><span class="badge rounded-pill text-bg-success">Approved :{{ approved_count }}</span></p>
                        <p><span class="badge rounded-pill text-bg-danger">Canceled : {{ canceled_count }}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-1"></div>
        </div>
    </div>
    </div>
{% endblock %}