{% extends 'ovros_dashboard/user_dashboard/user_dashboard_bookings.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {% load static %}
    User-Bookings
{% endblock %}

{% block dashboard_content %}

    <div class="container text-center">
        <div class="row my-5">
            <h3>User Dashboard Add Booking</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-1">

            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <div class="list-group">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Duration
                                    : {{ service.service_duration }} min
                                </li>
                                <li class="list-group-item">Shop
                                    : {{ service.shop.shop_name }}</li>
                                <li class="list-group-item">Shop
                                    : {{ service.service_description }}</li>
                                <li class="list-group-item">Price
                                    : <span>Rs.</span>{{ service.service_price }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        Add Booking
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-success" value="Confirm Booking" type="submit">
                        </form>

                    </div>
                    <div class="card-footer">
                        <p class="fw-bold">######</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-1"></div>
        </div>
    </div>
    </div>
{% endblock %}