{% extends 'ovros_dashboard/user_dashboard/user_dashboard.html' %}
{% block title %}
    {% load static %}
    User-profile
{% endblock %}

{% block content %}
{#    <h1>profile id : {{ profile_data.get_user_id }} </h1>#}
{#    <h1>profile id : {{ profile_data.get_profile_id }} </h1>#}
{#    <h1>profile id : {{ profile_data.get_profile_role }} </h1>#}

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center">
                <div class="card " style="width: 18rem;">
                    <img src="{{ profile.photo.url }}" class="card-img-top text-center" alt="...">
                </div>
                <h2 class="fw-normal">{{ profile_d.first_name }}</h2>
                <p>{{ profile_d.email }}</p>
                <p>{{ profile.contact_number }}</p>
                <p><a class="btn btn-secondary" href="{% url 'user_profile_edit' %}">Edit Details &raquo;</a></p>
                <p><a class="btn btn-warning" href="{% url 'password_change' %}">Change password &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4"></div>
        </div><!-- /.row -->

    </div>





{% endblock %}