{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block home_header %}

    <!-- Header Section Start -->
    <section id="intro">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-5 text-center text-md-start" style="height: 100%;">
                    <h1>
                        <div class="display-3">Repiar your Vehicle</div>
                        <div class="display-6 text-muted">search and book</div>
                        <p class="lead my-1 text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </h1>

                    <hr>


                    <form class="d-flex" role="search" method="GET" action="{% url 'home_search' %}">
                        <div class="col">
                            <div class="row my-1">
                                {{ form | crispy }}
                            </div>
                            <div class="row my-1">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="col-md-5 text-center d-none d-md-block">
                    <!-- tooltip -->
                    <span class="tt" data-bs-placement="bottom" title="OvROS">
            <img class="img-fluid" src="{% static 'images/hero_img.png' %}" alt="ebook">
          </span>
                </div>
            </div>
        </div>
    </section>
    <!-- Header Section End -->

{% endblock %}
