{% extends 'base.html' %}

{% block title %}
OvROS-Main
{% endblock %}

{% block home_content %}
    <!-- Header Section Start -->
{% include 'home/header.html' with form=form%}
  <!-- Header Section End -->

{#    <div>#}
{#    <a class="btn btn-primary" href="{% url 'dashboard_new'%}"> User Dashboard </a>#}
{#    <a class="btn btn-primary" href="{% url 'dashboard_new_user_bookings'%}"> User Dashboard </a>#}
{#    <a class="btn btn-primary" href="{% url 'dashboard_new_user_payments'%}"> User Dashboard - Payment </a>#}
{#    </div>#}

{% endblock %}