<div style="margin: 40px">
    <h1>Booking Details</h1>
    <h4>{{ today }}</h4>
    <div>
        <hr>
        <h1>Booking # : {{ booking.id }}</h1>
        <hr>

    </div>
    <div>
        <table class="table table-primary">
            <thead>
            <tr>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>Shop Name :</strong> {{ booking.service.shop.shop_name }}</td>
            </tr>
            <tr>
                <td><strong>Service Name :</strong> {{ booking.service.service_name }}</td>
            </tr>
            <tr>
                <td><strong>Duration :</strong> {{ booking.service.service_duration }} min</td>
            </tr>
                        <tr>
                <td><strong>Price :</strong> Rs.{{ booking.service.service_price }}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
