{% extends 'base.html' %}
{% load static %}

{% block title %}
    Ovros Services
{% endblock %}

{% block content %}

    <!-- Service Section Start -->
    <section id="ovros-service">
        <div class="container">
            <div class="row my-5 g-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body text-center">
                            {% if service.service_image is None %}
                                <img src="{% static 'images/card-header-default.jpg' %}" class="card-img-top"
                                     alt="...">
                            {% else %}
                                <img src="{{ service.service_image.url }}" class="card-img-top" alt="...">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ service.service_name }}</h5>
                            <div class="card-body ">
                                <div class="list-group">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>Duration</strong>
                                            : {{ service.service_duration }} min
                                        </li>
                                        <li class="list-group-item"><strong>Shop
                                            : </strong>{{ service.shop.shop_name }}</li>
                                        <li class="list-group-item"><strong>Description
                                            :</strong> <br>{{ service.service_description }}</li>
                                        <li class="list-group-item"><strong>Price
                                            :</strong> <span>Rs.</span>{{ service.service_price }}</li>
                                        <li class="list-group-item"><strong>Location
                                            :</strong> {{ service.shop.get_full_address }}</li>
                                        <li class="list-group-item"><strong>Available Vehicles </strong>
                                            <div>
                                                {% if service.is_for_car %}
                                                    <img height="40px" width="40px"
                                                         src="{% static 'icons/car_icon.png' %}">
                                                {% endif %}
                                                {% if service.is_for_van %}
                                                    <img height="40px" width="40px" class="bi"
                                                         src="{% static 'icons/van_icon.png' %}">
                                                {% endif %}

                                                {% if service.is_for_suv %}
                                                    <img height="40px" width="40px" class="bi"
                                                         src="{% static 'icons/suv_icon.png' %}">
                                                {% endif %}

                                                {% if service.is_for_lorry %}
                                                    <img height="40px" width="40px" class="bi"
                                                         src="{% static 'icons/lorry_icon.png' %}">
                                                {% endif %}

                                                {% if service.is_for_bike %}
                                                    <img height="40px" width="40px" class="bi"
                                                         src="{% static 'icons/bike_icon.png' %}">
                                                {% endif %}

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            {% if user_role == "USER_CUSTOMER" %}
                                <a href="{% url 'add_booking' service.id %}" class="btn btn-info ">Book Service</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- Service Section End -->

{% endblock %}