{% extends 'base.html' %}
{% load static %}

{% block title %}
    Ovros Services
{% endblock %}

{% block content %}

    <!-- Service Section Start -->
    <section id="ovros-service">
        <div class="container">
            <div class="row my-5 align-items-center justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <form class="d-flex" role="search" method="get" action="{% url 'home_search' %}">
                        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success text-nowrap" type="submit">Search Service</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row my-5 g-3">
                {% for service in services %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body text-center">
                                {% if service.service_image is None %}
                                    <img src="{% static 'images/service_vector.jpg' %}" class="card-img-top"
                                         alt="...">
                                {% else %}
                                    <img src="{{ service.service_image.url }}" class="card-img-top" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <div class="list-group">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <h4>{{ service.service_name}}</h4>

                                            </li>
                                            <li class="list-group-item">
                                                <strong>Description :</strong><br>
                                                {{ service.service_description }}</li>
                                            <li class="list-group-item"><strong>Price : </strong><span>Rs.</span>{{ service.service_price }}</li>
                                            <li class="list-group-item"><strong>Avg Duration </strong>
                                                : {{ service.service_duration }} minutes</li>
                                        </ul>
                                    </div>
                                </div>
                                                            <div class="card-footer">
                                <a href="{% url 'service_detail' service.id %}" class="btn btn-primary ">View Details</a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </section>
    <!-- Service Section End -->

{% endblock %}