{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Ovros Services
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row my-5 g-3">
            {% for profile in shops_profiles %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img src="{{ profile.shop_profile_img.url }}" class="card-img-top">
                        <div class="card-body">
                            <div class="list-group">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <h4><strong>{{ profile.shop_name }}</strong></h4>

                                    </li>
                                    {% if profile.shop_email != "" %}
                                        <li class="list-group-item">
                                            <strong>Email :</strong><br>
                                            {{ profile.shop_email }}</li>
                                    {% endif %}

                                    <li class="list-group-item"><strong>Contact : </strong>{{ profile.shop_contact }}
                                    </li>
                                    <li class="list-group-item"><strong>Address : </strong>
                                        {{ profile.get_full_address }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-primary" href="{% url 'shop_detail' profile.id%}">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}