{% extends 'base_new.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Ovros Services
{% endblock %}

{% block main_body %}


        <!-- CONTENT -->
        <section>
            <div class="container d-flex flex-column">
              <div class="row align-items-center justify-content-center gx-0 min-vh-100">
                <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 ">

                  <!-- Image -->
                    <img src="{% static 'main/img/illustrations/illustration-2.png' %}" alt="..." class="img-fluid">


                </div>
                <div class="col-12 col-md-5 col-lg-4 order-md-1 ">

                  <!-- Heading -->
                  <h1 class="mb-0 fw-bold text-center">
                    Sign Up
                  </h1>

                  <!-- Text -->
                  <p class="mb-6 text-center text-muted">
                    You deserve a better way to service.
                  </p>

                  <a href="{% url 'user_register' %}" class="btn w-100 btn-primary">User Account</a>
                  <div class="mb-2"></div>
                  <a href="{% url 'shop_register' %}" class="btn w-100 btn-primary">Shop Account</a>
                  <div class="mb-10"></div>


                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->
          </section>


{% endblock %}