{% extends 'ovros_dashboard/shop_dashboard/shop_dashboard_services.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {% load static %}
    Shop-Services-Edit
{% endblock %}


{% block dashboard_content %}

            <header>
            <div class="container-fluid">
                <div class="border-bottom pt-3 pb-3">
                    <div class="row align-items-center">
                        <div class="col-sm col-12">
                            <h1 class="h2 ls-tight">Edit services</h1>
                        </div>
                        <div class="col-sm-auto col-12 mt-4 mt-sm-0 me-5">

                        </div>
                    </div>
                </div>
            </div>
        </header>


    <div class="container ">
        <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        {% if current_service.service_image %}
                            <img class="card-img-top" src="{{ current_service.service_image.url }}" alt="user_module">
                            <span class="badge bg-warning">CURRENT IMAGE</span>
                        {% else %}
                            <img class="card-img-top" src="{% static 'images/services.jpeg' %}" alt="user_module">
                            <p>No Service Image Found</p>
                        {% endif %}

                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                       <form method="post" enctype="multipart/form-data">
                           {% csrf_token %}
                           {{ service_edit_form | crispy }}
                           <input id="user_role" type="hidden" name="user_role"  >
                           <p><input class="btn btn-primary" type="submit" value="Edit Service">
                           <a href="{% url 'shop_overview' %}" class="btn btn-danger">Cancel</a></p>
                       </form>

                    </div>



            <div class="col"></div>
        </div>
    </div>

    <script>
        function updateUserRole(){
            let userRoleVal = get_user_role();
             document.getElementById("user_role").value = userRoleVal;
        }

        document.addEventListener("DOMContentLoaded", function() {
            console.log("insert user data to form")
            updateUserRole();
        });
    </script>
{% endblock %}