{% extends 'ovros_dashboard/shop_dashboard/shop_dashboard.html' %}
{% block title %}
    {% load static %}
    Shop-Payment
{% endblock %}

{% block support_navbar_content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Shop Dashboard Payments >> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'shop_payments_view' %}"><span
                                class="badge rounded-pill text-bg-primary">View Payments</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block dashboard_content %}

    <div class="container text-center">
        <div class="row my-5">
            <h3>Shop Dashboard Payments</h3>
        </div>
        <div class="row my-5">
            <div class="col-12 col-md-2 col-lg-1"></div>
            <div class="col-12 col-md-4 col-lg-5">
                <img class="card-img-top" src="{% static 'images/payment_v1.jpg' %}" alt="booking_module">
            </div>
            <div class="col-12 col-md-4 col-lg-5">
                <div class="card">
                    <div class="card-header">
                        ovros-shops-Bookings
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-success">
                            Completed <span class="badge text-bg-secondary">{{ shop_pay_count }}</span>
                        </button>
                        <hr>
                        <button type="button" class="btn btn-warning">
                            Pending <span class="badge text-bg-secondary">{{ shop_pay_pending_count }}</span>
                        </button>

                    </div>
                    <div class="card-footer">
                        <a href="{% url 'shop_payments_view' %}">View Payments</a>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-2 col-lg-1"></div>
        </div>
    </div>
{% endblock %}