{% extends 'ovros_dashboard/shop_dashboard/shop_dashboard_services.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {% load static %}
    Shop-Services-List
{% endblock %}

{% block nav_service_active %}
active
{% endblock %}

{% block dashboard_content %}

            <header>
            <div class="container-fluid">
                <div class="border-bottom pt-3 pb-3">
                    <div class="row align-items-center">
                        <div class="col-sm col-12">
                            <h1 class="h2 ls-tight">Available  Service</h1>
                        </div>

                        {% comment %}
                        <div class="col-sm-auto col-12 mt-4 mt-sm-0 me-5">
                            <div class="hstack gap-2 justify-content-sm-end">
                                <a
                                        href="{% url 'service_add' %}"
                                        class="btn btn-sm btn-primary"
                                ><span class="pe-2"
                                ><i class="bi bi-plus-square-dotted"></i> </span
                                ><span>Add Service</span></a>

                                <a
                                        href="{% url 'shop_services_list' %}"
                                        class="btn btn-sm btn-primary"
                                ><span class="pe-2"
                                ><i class="bi bi-plus-square-dotted"></i> </span
                                ><span>View Service</span></a>

                            </div>
                        </div>

                        {% endcomment %}
                    </div>
                </div>
            </div>
        </header>



    <!-- Service Section Start -->
    <section id="ovros-service">
        <div class="container">
            <div class="row my-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-md-4">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-sm btn-success text-nowrap" type="submit">Search Service</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row my-5 g-3">
                {% if services.count > 0 %}
                    {% for service in services %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                            {% if service.service_image %}
                                <img src="{{ service.service_image.url }}" class="card-img-top">
                            {% else %}
                                <img src="{% static 'images/card-header-default.jpg' %}" class="card-img-top">
                            {% endif %}
                                <div class="card-body">
                                    <div class="list-group">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <h4>{{ service.service_name }}</h4>

                                            </li>
                                            <li class="list-group-item">
                                                <strong>Description :</strong><br>
                                                {{ service.service_description | truncatewords:15 }}</li>
                                            <li class="list-group-item"><strong>Price
                                                : </strong><span>Rs.</span>{{ service.service_price }}</li>
                                            <li class="list-group-item"><strong>Available Vehicles </strong>
                                                <div>
                                                    {% if service.is_for_car %}
                                                        <img height="40px" width="40px"
                                                             src="{% static 'icons/car_icon.png' %}">
                                                    {% endif %}
                                                    {% if service.is_for_van %}
                                                        <img height="40px" width="40px" class="bi"
                                                             src="{% static 'icons/van_icon.png' %}">
                                                    {% endif %}

                                                    {% if service.is_for_suv %}
                                                        <img height="40px" width="40px" class="bi"
                                                             src="{% static 'icons/suv_icon.png' %}">
                                                    {% endif %}

                                                    {% if service.is_for_lorry %}
                                                        <img height="40px" width="40px" class="bi"
                                                             src="{% static 'icons/lorry_icon.png' %}">
                                                    {% endif %}

                                                    {% if service.is_for_bike %}
                                                        <img height="40px" width="40px" class="bi"
                                                             src="{% static 'icons/bike_icon.png' %}">
                                                    {% endif %}

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-sm btn-primary" href="{% url 'service_detail' service.id %}">View
                                        Details</a>
                                    <a class="btn btn-sm btn-success" href="{% url 'shop_service_edit' service.id %}">Edit</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>No Services Added ..</h1>
                {% endif %}

            </div>
        </div>


    </section>
    <!-- Service Section End -->


{% endblock %}