{% extends 'ovros_dashboard/shop_dashboard/shop_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Shop Dashboard Payment view
{% endblock %}

{% block nav_payment_active %}
    active
{% endblock %}

{% block dashboard_content %}

    <main class="py-6 bg-surface-secondary">

            <header>
                <div class="container-fluid">
                  <div class="border-bottom pt-6 pb-6">
                    <div class="row align-items-center">
                      <div class="col-sm col-12">
                        <h1 class="h2 ls-tight">
                            <a class="btn btn-sm me-2 btn-secondary" href="{%  url 'shop_payments_view' %}">
                                <span><i class="bi bi-arrow-left "></i></span>
                            </a> Verify Payment
                        </h1>
                      </div>

                    </div>
                  </div>
                </div>
              </header>
              <div class="container-fluid">
                <div class="row g-6 mb-6 mt-1">
                  <div class="col-xl-6">
                    <div class="card ">
                      <div class="card-header">
                        <div class=" d-flex align-items-center">
                          <h5 class="mb-0">Booking Details</h5>
                        </div>
                      </div>
                      <div class="card-body">
                        <p>Booking ID : {{ booking_data.id }}</p>
                        <p>Shop Name : {{ booking_data.service.shop.shop_name }}</p>
                        <p>Price : <span>Rs.</span>{{ booking_data.service.service_price }}</p>
                        <p>Date and Time : {{ booking_data.booking_date }}| {{ booking_data.booking_time }}</p>
                      </div>
                      <div class="card-header">
                        <div class=" d-flex align-items-center">
                            <h5 class="mb-0">Payment Details</h5>
                          </div>
                      </div>
                      <div class="card-body">
                        <p>Payment ID : {{ booking_data.id}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-5">
                                <div class="card">
                <div class="card-header">
                    Booking Proceed
                </div>
                <div class="card-body">
                    {% if booking_data.payment_status != "PAYMENT_PENDING"%}
                        <img class="card-img-top" src="{{ payment_verify_data.payment_slip.url }}">
                    {% else %}
                        <img class="card-img-top" src="{{ payment_verify_data.payment_slip }}">
                    {% endif %}

                    <div class="list-group">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Current Status : </strong>
                              <span class="badge text-bg-primary">{{ booking_data.payment_status }}</span>
                            </li>
                        </ul>
                    </div>

                </div>
                {% if booking_data.payment_status != "PAYMENT_PENDING" %}
                       <div class="card-footer">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        {{ p_status_chg_form | crispy }}
                        <input type="hidden" value="{{ booking_data.id }}" name="booking_id">
                        <input type="hidden" value="{{ booking_data.user.id }}" name="user_profile_id">
                        <input type="hidden" value="1" name="proceed_payment_pv_verify">
                        <button class="btn btn-success" type="submit">Update Payment Record</button>
                    </form>
                </div>
                {% endif %}

            </div>
                  </div>
                </div>
              </div>


        </main>

{% endblock %}