{% extends 'ovros_dashboard/shop_dashboard/shop_dashboard_services.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {% load static %}
    Shop-Services-List
{% endblock %}


{% block dashboard_content %}

    <!-- Service Section Start -->
    <section id="ovros-service">
        <div class="container">
            <div class="row my-5 align-items-center justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success text-nowrap" type="submit">Search Service</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row my-5 g-3">
                {% if services.count > 0 %}
                    {% for service in services %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img src="{{ service.service_image.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ service.service_name }}</h5>
                                    <p class="card-text">{{ service.service_description }}
                                    </p>
                                    <a href="#" class="btn btn-primary">{{ service.service_price }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                {% else %}

                    <h1>No Services Added ..</h1>

                {% endif %}

            </div>
        </div>


    </section>
    <!-- Service Section End -->


{% endblock %}