{% extends 'ovros_dashboard/shop_dashboard/shop_dashboard.html' %}
{% block title %}
    {% load static %}
    User-profile
{% endblock %}

{% block content %}
    {#    <h1>profile id : {{ profile_data.get_user_id }} </h1>#}
    {#    <h1>profile id : {{ profile_data.get_profile_id }} </h1>#}
    {#    <h1>profile id : {{ profile_data.get_profile_role }} </h1>#}




    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center">
                <div class="card">
                    <img src="{% static 'images/shopprofile_default.jpg' %}" class="card-img-top">
                    <div class="card-body">
                        <div class="list-group">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h4><strong>{{ profile.shop_name }}</strong></h4>

                                </li>
                                <li class="list-group-item">
                                    <strong>Email :</strong><br>
                                    {{ profile_d.email }}</li>
                                <li class="list-group-item"><strong>Contact : </strong>{{ profile.shop_contact }}</li>
                                <li class="list-group-item"><strong>Address : </strong>
                                    {{ profile.shop_address }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="#">Edit Details</a>
                        <a class="btn btn-success" href="{% url 'password_change' %}">Change password &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>

    </div>





{% endblock %}