{% extends 'ovros_dashboard/shop_dashboard/shop_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Shop Dashboard Ongoing services
{% endblock %}

{% block nav_service_active %}
    active
{% endblock %}

{% block dashboard_content %}

    <main class="py-6 bg-surface-secondary">

        <header>
            <div class="container-fluid">
                <div class="border-bottom pt-3 pb-3">
                    <div class="row align-items-center">
                        <div class="col-sm col-12">
                            <h1 class="h2 ls-tight">Ongoing services</h1>
                        </div>
                        <div class="col-sm-auto col-12 mt-4 mt-sm-0 me-5">
                            <div class="hstack gap-2 justify-content-sm-end">
                                <a
                                        href="{% url 'service_add' %}"
                                        class="btn btn-sm btn-primary"
                                ><span class="pe-2"
                                ><i class="bi bi-plus-square-dotted"></i> </span
                                ><span>Add Service</span></a>

                                <a
                                        href="{% url 'shop_services_list' %}"
                                        class="btn btn-sm btn-primary"
                                ><span class="pe-2"
                                ><i class="bi bi-plus-square-dotted"></i> </span
                                ><span>View Service</span></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="container-fluid">
            <div class="row g-4 mb-6">

                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                            <span
                                    class="h6 font-semibold text-muted text-sm d-block mb-2"
                            >Total Services</span
                            >
                                    <span class="h3 font-bold mb-0">{{ shop_services.count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div
                                            class="icon icon-shape bg-primary text-white text-lg rounded-circle"
                                    >
                                        <i class="bi bi-credit-card"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                            <span
                                    class="h6 font-semibold text-muted text-sm d-block mb-2"
                            >Ongoing Services</span
                            >
                                    <span class="h3 font-bold mb-0">{{ shop_services.count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div
                                            class="icon icon-shape bg-primary text-white text-lg rounded-circle"
                                    >
                                        <i class="bi bi-credit-card"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>


        <div class="container-fluid">
            <div class="vstack gap-4">
                <div
                        class="d-flex flex-column flex-md-row gap-3 justify-content-between"
                >
                    <div class="d-flex gap-3">
                        <div class="input-group input-group-sm input-group-inline">
                        <span class="input-group-text pe-2"
                        ><i class="bi bi-search"></i> </span
                        ><input
                                type="text"
                                class="form-control"
                                placeholder="Search"
                                aria-label="Search"
                        />
                        </div>
                        <div>
                            <a
                                    class="btn btn-sm px-3 btn-neutral d-flex align-items-center"
                            >
                                <span>search</span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <div
                            class="card-header border-bottom d-flex align-items-center"
                    >
                        <h5 class="me-auto">All Available Bookings</h5>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Service</th>
                                <th scope="col">Service Status</th>
                                <th scope="col">Booking Status</th>
                                <th scope="col">Booking Time</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for shop_booking in shop_services %}
                            <tr>
                                <td>
                                    <a class="text-sm" href="#"
                                    >#{{ forloop.counter }}</a
                                    >
                                </td>
                                <td>
                              <span class="badge badge-lg badge-dot"
                              ><i class="bg-warning"></i>{{ shop_booking.service.service_name }}</span
                              >
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">

                                    {% if shop_booking.service_status == "PENDING" %}
                                    <span class="badge rounded-pill text-bg-warning">
                                    {{ shop_booking.service_status }}
                                    </span>
                                    {% endif %}
                                    {% if shop_booking.service_status == "QUEUED" %}
                                    <span class="badge rounded-pill text-bg-success">
                                    {{ shop_booking.service_status }}
                                    </span>
                                    {% endif %}
                                    {% if shop_booking.service_status == "ONGOING" %}
                                    <span class="badge rounded-pill text-bg-danger">
                                    {{ shop_booking.service_status }}
                                    </span>
                                {% endif %}
                                    {% if shop_booking.service_status == "OVER" %}
                                    <span class="badge rounded-pill text-bg-danger">
                                    {{ shop_booking.service_status }}
                                    </span>
                                {% endif %}
                                    </div>
                                </td>
                                <td>
                                     <div class="d-flex align-items-center">

                                    {% if shop_booking.booking_status == "PENDING" %}
                                    <span class="badge rounded-pill text-bg-warning">
                                    {{ shop_booking.booking_status }}
                                    </span>
                                    {% endif %}
                                    {% if shop_booking.booking_status == "APPROVED" %}
                                    <span class="badge rounded-pill text-bg-success">
                                    {{ shop_booking.booking_status }}
                                    </span>
                                    {% endif %}
                                    {% if shop_booking.booking_status == "CANCELED" %}
                                    <span class="badge rounded-pill text-bg-danger">
                                    {{ shop_booking.booking_status }}
                                    </span>
                                {% endif %}
                                     </div>
                                </td>

                                <td>
                                {% if shop_booking.booking_time == None %}
                                    <span class="badge rounded-pill text-bg-danger">Not Assigned</span>
                                {% else %}
                                    {{ shop_booking.booking_time }}
                                {% endif %}
                                </td>

                                <td class="text-end">
                                    <button data-bs-toggle="modal"
                                            data-bs-target="#id_{{ forloop.counter }}"
                                            class="btn btn-sm btn-success border-base">
                                        <span class="pe-2"><i class="bi bi-gear-wide-connected"></i>
                                        </span><span>Actions</span> </button>
                                </td>
                            </tr>

                            <!-- MODEL OVERLAY -->
                            <div
                                    class="modal fade"
                                    id="id_{{ forloop.counter }}"
                                    tabindex="-1"
                                    aria-labelledby="modalExport"
                                    aria-hidden="true"
                            >
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content shadow-3">
                                        <div class="modal-header">
                                            <div class="icon icon-shape rounded-3 bg-soft-primary text-primary text-lg me-4">
                                                <i class="bi bi-globe"></i>
                                            </div>
                                            <div>
                                                <h5 class="mb-1">Service Details</h5>
                                                <small class="d-block text-xs text-muted">
                                                    details related to service
                                                </small>
                                            </div>
                                            <div class="ms-auto">

                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex align-items-center mb-5">
                                                <div>
                                                    <p class="text-sm">
                                                        Shop Name : {{ shop_booking.service.shop.shop_name }}
                                                    </p>
                                                    <p class="text-sm">
                                                        Service : {{ shop_booking.service.service_name }}
                                                    </p>
                                                    <p class="text-sm">
                                                        Date : {{ shop_booking.booking_date }}
                                                    </p>
                                                    <p class="text-sm">
                                                        Price : {{ shop_booking.service.service_price }}
                                                    </p>
                                                    <hr>
                                                    <p class="text-sm">
                                                    <form method="post" id="form_id_st_{{ forloop.counter }}">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="booking_id"
                                                                   value="{{ shop_booking.id }}">
                                                            {{ action_form| crispy }}
                                                        </form>
                                                    </p>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <div class="me-auto">

                                            </div>
                                            <button
                                                    type="button"
                                                    class="btn btn-sm btn-neutral"
                                                    data-bs-dismiss="modal"
                                            >
                                                Close
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success" onclick="update_booking_service_status({{ forloop.counter }})">
                                                Update Service Status
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END OF MODEL OVERLAY -->

{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                      <span class="text-muted text-sm">...</span>
                    </div>
                </div>
            </div>
        </div>
    </main>

        <script>
        function update_booking_service_status(form_id) {
            let form = document.getElementById('form_id_st_' + form_id);
            form.submit();
        }
    </script>

{% endblock %}