{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Change your password
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">

            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <h1 class="mt-5">Change your password</h1>
                <p>
                    Use the form below to change your password.
                </p>
                <form method="post">
                    {{ form|crispy }}
                    <p>
                        <input class="btn btn-primary" type="submit" value="Change">
                        <a class="btn btn-danger" href="{% url 'home' %}">Cancel</a>
                    </p>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-12 col-md-4 col-lg-4">

            </div>
        </div>

    </div>

{% endblock %}