{% extends 'base.html' %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">

            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <h1>Password set</h1>
                <p> Your password has been set.You can <a href="{% url 'login' %}">Log in now</a></p>

            </div>
            <div class="col-12 col-md-4 col-lg-4">

            </div>
        </div>

    </div>

{% endblock %}