{% extends 'base.html' %}
{% block title %}
    Password changed
{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">

            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <h1>Password Changed</h1>
                <p>
                    Your password has been successfully changed...
                </p>
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            </div>
            <div class="col-12 col-md-4 col-lg-4">

            </div>
        </div>

    </div>
{% endblock %}